@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.one{
    height: 93px;
width: 667px;
margin-left: 121px;
margin-top: 2510px;
border-radius: nullpx;

}

.two{
    height: 374px;
width: 662px;
margin-left: 138px;
margin-left: 138px;
top: 2624px;
border-radius: nullpx;

}

.third{
    font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}

.int{
    margin-left: 121px;
}
.slm{
    margin-left: 138px;
}
@media (max-width: 834px) {

    .one{
        height: 53.86250305175781px;
        width: 386.30419921875px;
        margin-left: 70.0791015625px;
        margin-top: 1463.5458984375px;
        border-radius: nullpx;
    }

.slm{
        height: 216.60833740234375px;
width: 383.4083557128906px;
margin-left: 79.9248046875px;
margin-top: ;top: 1529.5709228515625px;
border-radius: nullpx;}

.third{
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;}

}
@media (max-width: 375px) {
    .one{
        height: 43.335418701171875px;
width: 310.8034973144531px;
margin-left: 36px;
margin-top: 1657px;
border-radius: nullpx;
    }
    .slm{
        height: 174px;
width: 299px;
margin-left: 44px;
margin-top: 1710px;
border-radius: nullpx;
    }
    .third{
        font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

    }
}
