.logo1{
    width: 112px;
    height: 66px;
    /* margin-left: 121px; */
    margin-left: 12.56%;
    margin-top: 21px;
}
.logo2{
    width: 22px;
    height: 21px;
    margin-left: 12.56%;
    margin-top: 184px;
}
.prg1{
    display: inline;
    width: 130px;
height: 32px;
margin-left: 1%;
margin-top: 187px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
}